.wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--content-primary-frame);
  border-radius: 10px;
  transition: border 0.3s ease;
}

.wrapper.selected {
  border: 1px solid var(--content-primary-frame-selected);
}

.photo {
  flex: 8;
}

.name {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--content-primary-frame);
}
