.wrapper {
  padding: 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 48px;
  max-width: 900px;
  max-height: 490px;
  background: #FFFFFF;
  gap: var(--gap-xl);
  border-radius: 12px;

  .title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: var(--header-space-xl);
  }

  .subtitle {
    margin-top: var(--gap-ml);
    font-size: 14px;
    font-weight: 300;
    color: var(--content-primary-frame);
  }

  .accounts {
    display: flex;
    flex-direction: column;

    .assigned {
      font-size: 20px;
    }
  }

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    max-height: none;
    gap: var(--gap-ms);

    .title {
      font-size: 20px;
    }

    .subtitle {
      font-size: 12px;
    }

    .accounts {
      margin-top: 16px;
      .assigned {
        font-size: 16px;
      }
    }
  }
}
