.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-ms);
  margin-top: auto;

  .go_to_project {

  }

  .delete {
    background-color: var(--delete-button);

    &:hover {
      background-color: var(--delete-button-hovered);
    }
  }

  .edit {
    background-color: #FFFFFF;
    border: 1px solid var(--second-font-color);
    color: var(--second-font-color);

    &:hover {
      background-color: #EDF1F5;
    }
  }

  .down_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-ms);
  }

  @media (max-width: 600px) {
    .down_buttons {
      display: flex;
      flex-direction: column;
      gap: var(--gap-ms);
    }
  }
}
