.wrapper {
  display: flex;
  margin-top: 24px;
  gap: 8px;
}

.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
  font-weight: 300;
  font-size: 14px;
  color: var(--content-primary-frame);
}
