.textarea {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: var(--font-weight-thin);
  font-size: var(--font-size-m);
  background-color: var(--white-font-color);
  border-radius: 0.6rem;
  padding: var(--textarea-default-padding);
  border: 1px solid var(--content-primary-frame);
  outline: none;
  overflow: hidden;

  resize: none;

  &::placeholder {
    color: var(--content-primary-frame);
  }
}
