.main_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-medium);

  cursor: pointer;

  font-size: var(--font-size-m);
  background-color: var(--main-button-bg-color);
  color: var(--white-font-color);
  border-radius: 32px;
  padding: 10px 15px 10px 15px;

  &:hover {
    background-color: var(--main-button-bg-color-hovered);
  }
}

.disabled {
  background-color: var(--content-primary-frame-selected);
  cursor: not-allowed;

  pointer-events: none;
}
